<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Quiz API: Users</title>
    <header th:insert="fragments/general.html :: head"></header>
</head>
<body>
<header th:insert="fragments/general.html :: navigation"></header>

<h3 class="text-center p-2"><span th:text="${users.size()}"></span> Users</h3>

<div class="container-fluid">
    <table th:if="${users.size() > 0}" class="table">
        <tr>
            <th scope="col" style="width:10%">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Enabled</th>
            <th scope="col" style="width:10%">Edit</th>
            <th scope="col" style="width:10%">Delete</th>
        </tr>
        <tr th:each="user: ${users}">
            <td style="vertical-align: middle;" th:text="${user.getId()}"></td>
            <td style="vertical-align: middle;" th:text="${user.getUsername()}"></td>
            <td style="vertical-align: middle;" th:text="${user.getEmail()}"></td>
            <td style="vertical-align: middle;" th:text="${user.getRole()}"></td>
            <td style="vertical-align: middle;" th:text="${user.isEnabled()}"></td>
            <td>
                <a th:href="@{/users/{id}(id=${user.getId()})}" type="submit" class="btn btn-link text-dark"
                   title="Edit User"><i class="fas fa-edit"></i>
                </a>
            </td>
            <td>
                <form class="form-inline" action="#" th:action="@{/users/{id}(id=${user.getId()})}" th:method="DELETE">
                    <button type="submit" class="btn btn-link text-danger" title="Delete User"><i
                            class="fas fa-trash"></i></button>
                </form>
            </td>
        </tr>
    </table>
    <div>
        <a th:href="@{__${#httpServletRequest.requestURI}__/create}" class="btn btn-success">Create user</a>
    </div>
</div>

</body>
</html>