<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<div th:fragment="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
        <a class="navbar-brand" href="/">Quiz API</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/users">Users</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/categories">Categories</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/quizzes">Quizzes</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/questions">Questions</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/answers">Answers</a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success px-2 py-0">
        <span class="text-light">Developer Menu</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDev" aria-controls="navbarDev" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarDev">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-2">
                    <a class="nav-link" href="https://github.com/orbanszlrd/quiz-api" target="_blank">Repository</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="https://github.com/orbanszlrd/quiz-api/projects/1" target="_blank">Project</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/swagger-ui" target="_blank">Swagger UI</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/api-docs" target="_blank">API Docs</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/h2-console" target="_blank">H2 Console</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<footer th:fragment="footer"></footer>
</body>
</html>