<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Quiz API: User Quiz</title>
    <header th:insert="fragments/general.html :: head"></header>
</head>
<body>
<header th:insert="fragments/general.html :: navigation"></header>

<h3 th:text="${quiz.getCategoryName() + ': ' + quiz.getName()}" class="text-center p-2"></h3>

<div class="container">
    <form th:action="${action}" method="post">
        <div th:each="question, iterator : ${questions}" class="m-2 p-2">
            <div th:text="${iterator.index + 1} + '. ' + ${question.getText()}" class="p-1 fw-bold"></div>

            <div th:each="answer : ${question.getAnswers()}" class="p-1">
                <input type="radio" th:id="'answer_' + ${answer.getId()}" th:name="'question_' + ${question.getId()}"
                       th:value="${answer.getId()}" class="p-1" style="cursor:pointer;">
                <label th:for="'answer_' + ${answer.getId()}" th:text="${answer.getText()}" class="p-1" style="cursor:pointer;"></label>
            </div>
        </div>
        <div class="m-2 p-2">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </form>
</div>

</body>
</html>