<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Quiz API: Categories</title>
    <header th:insert="fragments/general.html :: head"></header>
</head>
<body>
<header th:insert="fragments/general.html :: navigation"></header>

<h3 class="text-center p-2"><span th:text="${categories.size()}"></span> Categories</h3>

<div class="container-fluid">
    <table th:if="${categories.size() > 0}" class="table">
        <tr>
            <th scope="col" style="width:10%">Id</th>
            <th scope="col">Name</th>
            <th scope="col" style="width:10%">Quizzes</th>
            <th scope="col" style="width:10%">Edit</th>
            <th scope="col" style="width:10%">Delete</th>
        </tr>
        <tr th:each="category: ${categories}">
            <td style="vertical-align: middle;" th:text="${category.getId()}"></td>
            <td style="vertical-align: middle;" th:text="${category.getName()}"></td>
            <td>
                <a th:href="@{/categories/{id}/quizzes(id=${category.getId()})}" type="submit"
                   class="btn btn-link text-dark" title="List Quizzes"><i class="fas fa-list"></i>
                </a>
            </td>
            <td>
                <a th:href="@{/categories/{id}(id=${category.getId()})}" type="submit" class="btn btn-link text-dark"
                   title="Edit Category">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td>
                <form class="form-inline" action="#" th:action="@{/categories/{id}(id=${category.getId()})}"
                      th:method="DELETE">
                    <button type="submit" class="btn btn-link text-danger" title="Delete Category"><i
                            class="fas fa-trash"></i></button>
                </form>
            </td>
        </tr>
    </table>
    <div>
        <form method="get" action="/categories/create">
            <button class="btn btn-success" type="submit">Create category</button>
        </form>
    </div>
</div>
</div>

</body>
</html>