<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Quiz API: Quizzes</title>
    <header th:insert="fragments/general.html :: head"></header>
</head>
<body>
<header th:insert="fragments/general.html :: navigation"></header>

<h3 class="text-center p-2"><span th:text="${quizzes.size()}"></span> Quizzes</h3>

<div class="container-fluid">
    <table th:if="${quizzes.size() > 0}" class="table">
        <tr>
            <th scope="col" style="width:10%">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Time Limit</th>
            <th scope="col">Category</th>
            <th scope="col" style="width:10%">Questions</th>
            <th scope="col" style="width:10%">Edit</th>
            <th scope="col" style="width:10%">Delete</th>
        </tr>
        <tr th:each="quiz: ${quizzes}">
            <td style="vertical-align: middle;" th:text="${quiz.getId()}"></td>
            <td style="vertical-align: middle;">
                <form action="/user/quizzes" method="post">
                    <input type="hidden" name="quizId" th:value="${quiz.getId()}">
                    <button type="submit" th:text="${quiz.getName()}" class="btn btn-link link-success" title="Take this quiz"></button>
                </form>
            </td>
            <td style="vertical-align: middle;" th:text="${quiz.getTimeLimit()}"></td>
            <td style="vertical-align: middle;" th:text="${quiz.getCategoryName()}"></td>
            <td>
                <a th:href="@{/quizzes/{id}/questions(id=${quiz.getId()})}" type="submit" class="btn btn-link text-dark"
                   title="List Questions"><i
                        class="fas fa-list"></i>
                </a>
            </td>
            <td>
                <a th:href="@{__${#httpServletRequest.requestURI}__/{id}(id=${quiz.getId()})}" type="submit" class="btn btn-link text-dark"
                   title="Edit Quiz"><i
                        class="fas fa-edit"></i>
                </a>
            </td>
            <td>
                <form class="form-inline" action="#" th:action="@{__${#httpServletRequest.requestURI}__/{id}(id=${quiz.getId()})}"
                      th:method="DELETE">
                    <button type="submit" class="btn btn-link text-danger" title="Delete Quiz"><i
                            class="fas fa-trash"></i></button>
                </form>
            </td>
        </tr>
    </table>
    <div>
        <a th:href="@{__${#httpServletRequest.requestURI}__/create}" class="btn btn-success">Create quiz</a>
    </div>
</div>

</body>
</html>