<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Quiz API: Index</title>
    <th:block th:insert="~{fragments/general.html :: head}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/general.html :: navigation}"></th:block>

<h3 class="text-center p-2">Dashboard</h3>

<div class="container-fluid">
    <div class="row">
        <div th:each="module: ${modules}" class="col-sm-6 p-2">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title" th:text="${module.getTitle()}"></h5>
                    <p class="card-text" th:text="${module.getDescription()}"></p>
                    <a th:href="@{/{module}(module=${module.getTitle().toLowerCase()})}" class="btn btn-success">Page</a>
                    <a th:href="@{/api/v1/{module}(module=${module.getTitle().toLowerCase()})}" target="_blank" class="btn btn-dark">API</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>